.wrapper {
  margin-left: -250px;
  width: 500px;
  font-size: 14px;
  background-color: silver;
  padding: 20px;
  position: absolute;
  left:50%

};

.comment-input {
  background-color: blue;
};

div.comment-user {
  background: skyblue;
  height: 50px;
  border: 0.1em solid;
}